[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
celery = "*"
django-celery-results = "*"
django-celery-beat = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
